/* Toggle switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75em; /* equivalent to 60px */
  height: 2.125em; /* equivalent to 34px */

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2.125em; /* equivalent to 34px */

    &:before {
      position: absolute;
      content: "";
      height: 1.625em; /* equivalent to 26px */
      width: 1.625em; /* equivalent to 26px */
      left: 0.25em; /* equivalent to 4px */
      bottom: 0.25em; /* equivalent to 4px */
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
    }

    /* Sun Icon */
    &:before {
      content: "\2600"; /* Unicode for sun */
      color: #f39c12; /* Sun color */
    }
  }

  input:checked + .slider {
    background-color: #2196f3;

    &:before {
      content: "\263e"; /* Unicode for moon */
      color: #f1c40f; /* Moon color */
      transform: translateX(1.625em); /* Move the toggle to the right */
    }
  }
}
