<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
</head>

<body class="light-mode">
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $script := resources.Get "js/main.js" | resources.Fingerprint | resources.Minify }}
    <script src="{{ $script.RelPermalink }}"></script>
</body>

</html>
